@using Backgram.Core.Util
@using System.Web.Optimization
@using Backgram

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backgram - Save your photos anywhere.</title>
    @Styles.Render(BundleConfig.BundlesCss)
</head>
<body>
    <div class="container-narrow">
        @Html.Partial("_HeaderPartial")
        @RenderBody()
        @Html.Partial("_FooterPartial")
    </div>

    @Scripts.Render(BundleConfig.BundlesJs)
    @this.RenderSection("Scripts", false)
</body>
</html>