@using Backgram.Core.Util
@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backgram - Save your photos anywhere.</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="container-narrow">
        @Html.Partial("_HeaderPartial")
        @RenderBody()
        @Html.Partial("_FooterPartial")
    </div>

    @Scripts.Render("~/bundles/js")
    @this.RenderSection("Scripts", false)
</body>
</html>
